/* navigasi.css */

.navbar {
    background-color: #08283d;
    padding: 1px;
    text-align: center;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color 0.5s ease; /* Menambahkan efek transisi perubahan warna */
}

.navbar:hover {
    background-color: #2980b9; /* Warna yang diinginkan saat hover */
}

.nav-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

a {
    margin-left: 5px;
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
} 

a:hover {
    color: #ecf0f1; /* Warna teks yang diinginkan saat hover */
}

.nav-item {
    margin: 0 15px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    position: fixed;
    right: 0;
}

.nav-item a {
    margin-right: 5px;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease; /* Menambahkan efek transisi perubahan warna teks saat hover */
}

.icon {
    margin-bottom: 5px;
    width: 30px;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-link span {
    margin-top: 5px;
}

/* Your existing styles */

.space {
    display: flex;
    justify-content: space-between;
  }
  
  /* Additional styles for better appearance (optional) */
  
  .space div {
    margin: 0 ; /* Adjust the margin based on your preference */
  }
  
  .space a {
    text-decoration: none;
    color: #007bff; /* Set the link color */
  }
  
  .space a:hover {
    text-decoration: underline;
  }
  